.flash-success {
    background: #E6EFC2;
    color: #264409;
    border-color: #C6D880;
    padding: 10px;
}

.flash-error {
    background:#FBE3E4;
    color:#8a1f11;
    border-color:#FBC2C4;
    padding: 10px;
}