body {
    padding-bottom: 40px;
    background: url("../images/bg.jpg");
}

.logo, .logo-text {
    color: #333;
}

.logo-text {
    margin-left: 0.5em;
}

.table-container {
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.table-container table thead th {
    vertical-align: top;
}

table {
    min-width: 550px;
}

thead {
    background-color: #d9edf7;
}

tfoot {
    font-weight: bold;
}

.minus, .plus {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    color: #298dcd;
}

.display {
    display: inline-block;
    width: 2.3em;
    text-align: center
}

.about {
    /*text-indent: 1.1em;*/
    text-align: justify;
}

.cat-img {
    float: right;
}

.cat-img-tablet {
    display: none;
}

@media (min-width: 979px) {
    body {
        padding-top: 60px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .cat-img {
        display: none;
    }

    .cat-img-tablet {
        display: inline-block;
        float: left;
        margin: 0 2em 1em 0;
    }

    h1 {
        font-size: 36px;
    }
}

@media (max-width: 480px) {
    .table-container {
        margin-bottom: 0.5em;
    }

    h1 {
        font-size: 32px;
    }

    .cat-img {
        float: left;
        margin-bottom: 1em;
    }
}

.chosen-label {
    font-style: italic;
    cursor: default;
}

.chosen-select, .chosen-label {
    width: 230px;
}

.flash-success {
    background: #E6EFC2;
    color: #264409;
    border-color: #C6D880;
    padding: 10px;
}

.flash-error {
    background: #FBE3E4;
    color: #8a1f11;
    border-color: #FBC2C4;
    padding: 10px;
}